// Specific CSS for your home-page
#homepage {
  height: 90vh;
  background-image: url("https://res.cloudinary.com/dpspcjurv/image/upload/v1656001028/urip-dunker-cTfcPsRQv4Q-unsplash_ocqchd.jpg");
  background-size: 100%;

  p {
    margin-left: 100px;
  }

  .btn {
    margin-left: 100px;
    margin-top: 40px;
  }

  h2 {
    margin-top: 0 !important;
    padding-top: 40px;
  }
  body {
    margin-bottom: 0 !important;
  }
}
