<div id="homepage">

  <h2>Wanting to travel while staying in your budget?</h2>
  <p>Find hotels in your price range anywhere around the globe! </p>

  <p><%= link_to "Browse our hotels", rooms_path, class: "btn btn-primary" %></p>
</div>
