<div id="homepage">

  <h2>Going on holidays but on a budget?</h2>
  <p>Find hotels in your price range anywhere around the globe! </p>

  <%= link_to "Browse our hotels", rooms_path, class: "btn btn-primary" %>
</div>
